@model OfferViewModel

@using (Html.BeginForm(FormMethod.Post))
{
    @foreach (var attr in Model.Schema.AttributeNames)
    {

        <div>
            <label for="@attr" class="col-sm-2 control-label">@attr</label>
            <input name="@attr" type="text" value="" />
        </div>
    }
    <input type="submit" value="Edit" />
}