@using System.Linq;
@using Hyperledger.Aries.Features.IssueCredential;
@model CredentialViewModel


<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Created at</th>
            <th scope="col">State</th>
            <th scope="col">Attributes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Name
            </td>
            <td>
                @Model.CreatedAt
            </td>
            <td>
                @Model.State
            </td>
            <td>
                @foreach (var item in Model.CredentialAttributesValues)
                {

                    @item.Value
                
                }
            </td>
            </tr>
    </tbody>
</table>
