@model ProofsDetailViewModel


<table class="table-borderless" cellpadding="10">
    <thead>
        <tr>
            <td scope="col">Proof</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.ProofRecord.ProofJson
            </td>
        </tr>
    </tbody>
</table>

