@using Hyperledger.Aries.Features.BasicMessage;
@using AriesWebApp.Utils
@model ConnectionsViewModel

<div class="row mt-2">
    <div class="col-md-6">
        <form class="input-group mb-3" asp-controller="Proof" asp-action="SendProofNameRequest">
            <input type="text" name="connectionId" autocomplete="off" class="form-control" placeholder="Type connection id here" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit">Send Message</button>
            </div>
        </form>
    </div>
    <div class="col-md-15">
        <div class="card text-center">
            <div class="card-header">
                Connections
            </div>
            @foreach(var connection in Model.Connections)
            {
                <div class="card-body">
                    <a>@(connection.Alias?.Name  ?? connection.Id)</a> : <a>@connection.Id</a>
                </div>
            }
        </div>
    </div>
</div>